/** @format */

footer {
	position: bottom;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

body {
	background-color: rgb(32, 32, 46);
}

h1 {
	background-color: rgb(6, 155, 255);
}

h2 {
	color: rgb(66, 219, 52);
}

h4 {
	color: rgba(255, 0, 0, 0.74);
}

h5 {
	color: rgb(253, 253, 253);
}

p {
	color: whitesmoke;
}

label {
	color: whitesmoke;
}
